body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);
    height: 200vh;
    transition: background-color 0.5s ease;
}

header {
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    text-align: center;

    opacity: 0;
    transition: opacity 0.3s ease;


    margin: 0;
    padding: 0;


    /* center inside card */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 20px;
    padding: 40px;

    background-clip: padding-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);    
  gap: 16px;
  margin: 20px;
}

.item {
  background: #ddd;
  /* padding: 20px; */
  text-align: center;
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: transform 1s ease, box-shadow 0.3s ease;
  

}

.item video {
  width: 100%;
  height: 100%;
  object-fit: cover;   
}


.item:hover {
    transform:scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
    background-color: #0a85ff; 
}